@using Juyou.Solution.Model
@using Juyou.Solution.ViewModel
@using Juyou.Solution.Model.Enume
@{
    ViewData["Title"] = SystemSet.SystemName + "-Support";
    Layout = "~/Pages/_Layout.cshtml";

}
@section Styles
{
    <link rel="stylesheet" href="~/css/pages/support.css">

}

<div class="layui-fluid  pannel-background layui-container">
   
    <div class="layui-row">
        <h1>Technical  Support</h1>

        <ul class="flow-default" id="lightstylelist">
            <li>
                Technical Engineer：Magic.Yuan
            </li>
            <li>
                E-mail: postmaster@cltsaber.com
            </li>
        </ul>
    </div>
</div>


@section Scripts {
   
}

